# On ignore l'environnement virtuel et les caches
vision/
__pycache__/
.ipynb_checkpoints/
mlruns/       <-- On ne pousse pas MLflow (trop de petits fichiers)

# --- DONNÉES ---
data/         <-- On ignore la vidéo et les images (trop lourd / copyright)

# --- MODÈLES ---
# models/*.tflite  <-- EFFACEZ OU COMMENTEZ CETTE LIGNE !
# On veut que les modèles soient sur GitHub
/data
/datasets
/models

/.dvc/config
/.dvc/drive.json
vdrive-creds.json
venv

.dvc/cache/
.dvc/tmp/
.dvc/config.local
.dvc/*-creds.json
.dvc/drive.json
*-creds.json
*.credentials

# Fichiers temporaires
.dvc/tmp/
.dvc/lock

# Notebooks
notebooks/mlruns/


.vscode/
.idea/


vision


.dvc/config.local.bak

service_account.json